/*Last edited: 4/20/2022*/


.under{
    font-family: 'Courier New', Courier, monospace;
}

.jumper{
    font-size: 15px;
}

.jumper2{
    color: blue;
}

.center{
    text-align: center;
    background-color: bisque;
}